.vazio-container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 13vh 0 0;
  z-index: 1;
  flex-direction: column;
  gap: 1em;
  color: var(--preto);
}

.vazio-container img {
  max-height: 50%;
}

.vazio-container h1 {
  font-size: 1.7em;
  font-weight: 500;
}

.vazio-container button {
  height: 60px;
  width: 250px;
  border-radius: 1em;
  border: none;
  background-color: var(--amarelo);
  color: #fff;
  font-weight: 600;
  font-size: 18px;
  transition: 0.3s ease;
}

.vazio-container button:hover {
  cursor: pointer;
}
