.botaoAcao-excluir,
.botaoAcao-editar,
.botaoAcao-inscrever,
.botaoAcao-desinscrever {
  width: 150px;
  height: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
  border: none;
  border-radius: 5px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.15);
  margin: 0 1em;
  background: #e62222;
  text-transform: capitalize;
  z-index: 1;
}
.botaoAcao-inscrever,
.botaoAcao-desinscrever {
  background: var(--azul);
}

.botaoAcao-editar {
  background-color: var(--amarelo);
}

.botaoAcao-excluir,
.botaoAcao-excluir span,
.botaoAcao-editar,
.botaoAcao-editar span,
.botaoAcao-inscrever,
.botaoAcao-inscrever span,
.botaoAcao-desinscrever,
.botaoAcao-desinscrever span {
  transition: 200ms;
}

.botaoAcao-excluir .text,
.botaoAcao-editar .text,
.botaoAcao-inscrever .text,
.botaoAcao-desinscrever .text {
  transform: translateX(35px);
  color: white;
  font-weight: 700;
  font-size: 1.15em;
}

.botaoAcao-inscrever .text,
.botaoAcao-desinscrever .text {
  transform: translateX(5px);
}

.botaoAcao-excluir .icon,
.botaoAcao-editar .icon,
.botaoAcao-inscrever .icon,
.botaoAcao-desinscrever .icon {
  position: absolute;
  border-left: 1px solid #c41b1b;
  transform: translateX(100px);
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.botaoAcao-editar .icon {
  border-left: 1px solid #c1b01b;
}

.botaoAcao-desinscrever .icon,
.botaoAcao-inscrever .icon {
  border-left: 1px solid #00339a;
}

.botaoAcao-excluir svg,
.botaoAcao-editar svg,
.botaoAcao-inscrever svg,
.botaoAcao-desinscrever svg {
  width: 15px;
  fill: var(--branco);
}

.botaoAcao-excluir:hover .text,
.botaoAcao-editar:hover .text,
.botaoAcao-inscrever:hover .text,
.botaoAcao-desinscrever:hover .text {
  color: transparent;
}

.botaoAcao-excluir:hover .icon,
.botaoAcao-editar:hover .icon,
.botaoAcao-inscrever:hover .icon,
.botaoAcao-desinscrever:hover .icon {
  width: 150px;
  border-left: none;
  transform: translateX(0);
}

.botaoAcao-excluir:focus,
.botaoAcao-editar:focus,
.botaoAcao-inscrever:focus,
.botaoAcao-desinscrever:focus {
  outline: none;
}

.botaoAcao-excluir:active .icon svg,
.botaoAcao-editar:active .icon svg,
.botaoAcao-inscrever:active .icon svg,
.botaoAcao-desinscrever:active .icon svg {
  transform: scale(0.8);
}
