.deputado-container {
  align-items: center;
  justify-content: flex-start;
  padding: 14vh 3em;
  gap: 1em;
}

.deputado {
  width: 100%;
  height: 7em;
  display: flex;
  align-items: center;
  gap: 1em;
  color: var(--preto);
  padding: 0 1em;
}

.deputado > img {
  max-height: 90%;
  border-radius: 0.5em;
}

.deputado > h3 {
  font-weight: 500;
}

.deputado:hover {
  background-color: #ffffffcd;
  cursor: pointer;
}

.deputado .uf {
  width: 3em;
  height: 1.5em;
  background-color: var(--amarelo);
}

.deputado .partido {
  min-width: 4em;
  padding: 0 0.5em;
  height: 1.5em;
  background-color: var(--azul);
  margin-left: auto;
}

.deputado .uf,
.deputado .partido {
  border-radius: 0.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-weight: 500;
}
